body, html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #1a1a1a;
}

::placeholder {
  color: #353535;
  text-align: center;
}

.background {
  image-rendering: pixelated;
  position: fixed;
  width: 480px;
  height: 480px;
  top: 50%;
  right: 50%;
  transform: translate(0%, -50%);
  z-index: 0;
}

#canvas {
  image-rendering: pixelated;
  position: fixed;
  width: 480px;
  height: 480px;
  top: 50%;
  right: 50%;
  transform: translate(0%, -50%);
  background-color: transparent;
  z-index: 0;
}

#canvas2 {
  image-rendering: pixelated;
  position: fixed;
  width: 480px;
  height: 480px;
  top: 50%;
  right: 50%;
  transform: translate(0%, -50%);
  z-index: 1;
  background-color: transparent;
}

#toolbar {
  position: absolute;
  display: block;
  width: 160px;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #141414;
  border: none;
}

.button {
  background-color: transparent;
  width: 160px;
  height: 60px;
  position: relative;
  margin-top: 8px;
  padding-left: 15px;
  border: none;
  text-align: left;
  color: rgb(120, 120, 120);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.button:hover {
  background-color: #1a1a1a;
  cursor: pointer;
  color: white;
}

#colors {
  position: relative;
  left: 55%;
  top: 40px;
  width: 500px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
}

#pigment {
  position: absolute;
  left: 55%;
  top: 110px;
  width: 60px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
  text-align: center;
}

#shifter {
  position: absolute;
  left: 60%;
  top: 110px;
  width: 60px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
  text-align: center;
}

#shift-lab {
  position: absolute;
  left: 65.25%;
  top: 140px;
  color: rgb(120, 120, 120);
  font-size: 12pt;
  outline: none;
}

#sat-lab {
  position: absolute;
  left: 60.25%;
  top: 200px;
  color: rgb(120, 120, 120);
  font-size: 12pt;
  outline: none;
}

#lit-lab {
  position: absolute;
  left: 66%;
  top: 260px;
  color: rgb(120, 120, 120);
  font-size: 12pt;
  outline: none;
}

#saturation {
  position: absolute;
  left: 55%;
  top: 170px;
  width: 60px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
  text-align: center;
}

#lit {
  position: absolute;
  left: 55%;
  top: 230px;
  width: 60px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
  text-align: center;
}

#steep {
  position: absolute;
  left: 60%;
  top: 230px;
  width: 70px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#mode {
  position: absolute;
  left: 55%;
  top: 290px;
  width: 160px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
}

#tex-lab {
  position: absolute;
  left: 66%;
  top: 310px;
  color: rgb(120, 120, 120);
  font-size: 12pt;
  outline: none;
}

#decor {
  position: absolute;
  left: 55%;
  top: 340px;
  width: 160px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
}

#decor-lab {
  position: absolute;
  left: 66%;
  top: 360px;
  color: rgb(120, 120, 120);
  font-size: 12pt;
  outline: none;
}

.seperator {
  color: rgb(120, 120, 120);
  font-size: 12pt;
  position: fixed;
  left: 55%;
  top: 52%;
  font-weight: lighter;
  z-index: 1;
}

.grass-controls {
  position: fixed;
  left: 55%;
  bottom: 0px;
  height: 320px;
  width: 100%;
  background-color: transparent;
  z-index: 0;
}

#height {
  width: 120px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
}

#blades {
  width: 120px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
}

#variance {
  width: 120px;
  height: 40px;
  background-color: #141414;
  border: 1px solid #353535;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  outline: none;
  padding: 5px;
}